<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="51018da0-7022-4c35-810b-6ac425a7e99d" Publisher="CN=Coding4Fun" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ProcessingJSViewerCSharp</DisplayName>
    <PublisherDisplayName>Coding4Fun</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ProcessingJSViewerCSharp.App">
      <VisualElements DisplayName="Sketchbook" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Sketchbook application for Processing" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#271e28" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>